@media (min-width: 992px){
    .ne-block-category,
    .ne-blog-post{
        padding: 2rem 7rem;
    }
    .ne-block-product,
    .ne-filter{
        padding: 2rem 8rem;
    }
    .ne-brand-slider{
        padding: 2rem 9rem;
    }
    .slider-image{
        margin-top: 3rem;
    }
}
