footer{
    background: #3AD10C;
} 

footer .gTyyHP div{
    text-align: left;
}
footer .gTyyHP .dgzRaw{
    color: #ffffff;
    text-align: left;
}

footer .cmDGzG{
    color: #ffffff;
}

footer .company{
    position: relative;
    text-align: center;
    left: 0;
}


@media screen and (min-width: 480px) {
    footer .company-col{
        position: absolute;
        right: 0;
    }
    footer .ne-title-text{
        padding-bottom: 20px;
        text-align: center;
    }
    footer .company{
        position: relative;
        text-align: right;
        left: 0;
    }
  } 